{% extends 'adminLayout.html.twig' %}

{% block stylesheet %}{% endblock %}

{% block title %}
	{{ parent() }}
	| Admin Pneus
{% endblock %}

{% block content %}
	<main class="container">
		<h1>Administration des pneus</h1>
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prix</th>
				</tr>
			</thead>
			<tbody>
				{% for tire in tires %}
					<tr>
						<td>{{ tire.name }}</td>
						<td>{{ tire.price }}€</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}
