{% extends 'adminLayout.html.twig' %}

{% block title %}
	{{ parent() }}
	Modifier Pneus
{% endblock %}

{% block content %}
	<main class="container">
		<h1>Modifier le pneu {{ tire.name }}</h1>
		
		{% include 'Admin/Tire/_form.html.twig' with buttonName: 'Modifier' %}

		<a href="/admin/pneus">Retour</a>
	</main>

{% endblock %}
