<nav>
	<ul>
		<li>
			<a href="/"><img src="assets/images/logo.png" alt="logo de da ponte"></a>
		</li>
	</ul>
	<ul>
		<li><a href="#">Entreprise</a></li>
		<li><a href="#">Pneus</a></li>
		<li><a href="#">Réalisations</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</nav>